<div class="row">
  <div class="col-md-6">
    <a routerLink="/" class="btn btn-link">
      <i class="fa fa-arrow-circle-o-left"></i>
      Back to Dashboard
    </a>
  </div>
  <div class="col-md-6">
    <div class="pull-right">
      <a class="btn btn-outline-primary" [ngClass]="{'btn-primary': this.favoured }" (click)="recipeFavoured()">
        <i class="fa fa-heart-o"></i>
      </a>
    </div>
  </div>
</div>
<div class="mt-4" *ngIf="recipe">
<div class="card">
    <div class="row mt-2 mb-2">
        <div class="col-xl-4 mx-auto border-right border-primary">
          <h5 class="text-center">Recipe: {{recipe.title}}</h5>
        </div>
        <div class="col-xl-4 mx-auto border-right border-primary">
          <h5 class="text-center"> Ingredients: {{recipe.ingredients.length}} </h5>
        </div>
        <div class="col-xl-4 mx-auto">
          <h5 class="text-center"> Cooking Time: {{recipe.directions.cookingTime}} mins </h5>
        </div>
</div>
  </div>
  <div class="recipe-main-info mt-4">
    <img class="main-img" src="{{recipe.imagePath}}" alt="">
    <div class="main-text">
      <h4> {{recipe.title}} </h4>
    </div>
  </div>
  <div>
    <h3>Description:</h3> 
    <p>{{recipe.description}}</p>
  </div>

  <div *ngIf="ingredients">
    <ul>
      <h3>Ingredients</h3>
      <li *ngFor="let ingredient of ingredients">
        {{ingredient.name}}
      </li>
    </ul>
  </div>
  <div *ngIf="cookingSteps">
    <ol>
      <h3>Cooking Steps</h3>
      <li *ngFor="let cookingStep of cookingSteps">
        {{cookingStep.instruction}}
      </li>
    </ol>
  </div>

</div>