<div class="row">
  <div class="col-md-6">
    <a routerLink="/" class="btn btn-link btn-primary">
      <i class="fa fa-arrow-circle-o-left"></i>
      Back to Dashboard
    </a>
  </div>
  <div class="col-md-6">
    <div class="pull-right">
      <a class="btn btn-info">
        <i class="fa fa-heart-o"></i>
      </a>
    </div>
  </div>
</div>
<div class="mt-4" *ngIf="recipe">
  <div class="recipe-main-info">
    <img class="main-img" src="{{recipe.imagePath}}" alt="">
    <div class="main-text">
      <h4> {{recipe.title}} </h4>
    </div>
  </div>
  <div class="row justify-content-center mt-4">
    <div class="col-xs-4 mx-auto">
      <h1>{{recipe.title}}</h1>
    </div>
    <div class="col-xs-4 mx-auto">
      <h5> Ingredients: {{recipe.ingredients.length}} </h5>
    </div>
    <div class="col-xs-4 mx-auto">
      <h5 (click) = "onGetIngr()" > Cooking Time: {{recipe.directions.cookingTime}} mins </h5>
    </div>
  </div>
  <ul>
    <li>
      {{ingredients[0].name}}
    </li>
  </ul>




</div>