<div class="row">
  <div class="col-md-6">
    <h4>
      <i class="fa fa-cutlery"></i> Recipes
    </h4>
  </div>
  <div class="col-md-6">
    <h6 class="text-right text-secondary">
      Your Recipes
    </h6>
  </div>
</div>

<div class="row">
  <div class="col-md-4 col-sm-6" *ngFor="let recipe of recipes">
    <a routerLink="/recipe/{{recipe.id}}" class="list-group-item">
      <img class="img-reponsive" style="max-width: 200px;" src="{{recipe.imagePath}}" alt="">
      <h5 class="list-group-item-heading" >{{recipe.title}}</h5> 
      <p class="list-group-item-text" >{{recipe.description}}</p> 
    </a>
  </div>
</div>
