/* You can add global styles to this file, and also import other style files */

.btn-outline-primary, .btn-primary, .btn-primary {
  color: #FFB500;
  border-color: #FFB500;
}

.btn-outline-primary:hover,  {
  color:white;
  background-color: #FFB500;
}

.btn-primary:hover {
  color: #FFB500;
}